

.left-box {
   float: left;
   width: 40%;
   padding-left: 20px;
   
   img {
         max-width: 100%;
      // padding-top: 20px;
      // padding-right: 40px;
      // float: right;
   }
}
   
.right-box {
   float: right;
   width: 40%;
   padding-right: 20px;
   
//    img {
//       padding-top: 20px;
//       padding-right: 20px;
//    }
}

.right-img {
   text-align: right;
}

.white-text {
   color: white;
}

.content-1-box {
   width: 750px;
   height: 500px;
   margin-right: auto;
   margin-left: auto;
}

.content-2-box {
   height: 500px;
   background-color: #7E5036;
}