.jumbotron {
   background-image: url('../../resources/images/jumbo_003.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   padding-left: 10px;
   color: white;
   height: 500px;
   text-align: center;
}