.navbar {  
   margin-bottom: 2px;
  
   .nav {
      padding-top: 5px;
   }

   .nav-pills a {
      color: black;
   }

   .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
      background-color: #7E5036;
   }

   .navbar {
      margin-top: 5px;
      margin-bottom: 5px;
   }

   @media (min-width: 768px) {
      .navbar-right {
         margin-right: 0px;
      }
   }
}


