.navbar {
   background-color: white;
   margin-bottom: 0px;
   min-height: 40px;
   .nav-pills a {
      color: black;
   }
   .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
      background-color: $color_5;
   }
}

.navbar-right {
   margin-right: -60px;
}


