#twitter-feed {

  .twitter-feed {
    text-align: center;
    
    img {
      height: 250px;
      width: 250px;
    }

    #tweets {
      margin: 200px;
      height: 600px;
      overflow-y: scroll;
    }
    @media (max-width: 768px) {
      #tweets {
        margin: 50px;
      }
    }
  }
}
