$color_1: #0C0309;
$color_2: #253B5B;
$color_3: #F1CEA2;
$color_4: #BD8F64;
$color_5: #5A311F;

@import "../../../node_modules/font-awesome/css/font-awesome.min.css";
@import 'components/jumbotron';
@import 'components/navbar';
@import 'components/content';
@import 'components/twitter-feed';

// body { padding-top: 45px; }
