$color_1: #468966;
$color_2: #FFF0A5;
$color_3: #FFB03B;
$color_4: #B64926;
$color_5: #8E2800;

@import 'components/footer';
@import 'components/jumbotron';
@import 'components/navbar';
@import 'components/topbar';
@import 'components/content';

.panel-default {
   padding-top: 50px;
}

.panel-body {
   padding: 0px;
}